*{
    font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  
}

.container{
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F6F5F2;
}

.calculator{
    padding: 20px;
    border-radius: 40px;
    background-color: #0C0C0C;
}

form input{
    border: none;
    outline: 0;
    width: 60px;
    height: 60px;
    font-size: 16px;
    background: #1d1c1c;
    margin: 2px;
    border-radius: 50px;
    color: white;
    font-weight: bolder;
    cursor: pointer;
}

form input[type="button"]:hover{
    background-color: rgb(255, 111, 0);
}

form .display{
    display: flex;
    justify-content: flex-end;
    margin: 5px 0px 15px 0px;
}

form .display input{
    text-align: right;
    flex: 1;
    font-size: 40px;
    padding: 5px 10px;
    background-color: #2b1e0c ;    
    border-radius: 15px;
    height: 80px;
}

form input.equal{
    width: 123px;
    background: #FF9200 ;
    color: #1d1c1c;
    
}

form input.ac{
    background: #FF9200 ;
    color: #1d1c1c;
}

form input.delete{    
    border: 1px solid #FF9200;    
}

form input.add{    
    border: 1px solid #FF9200;
}

form input.divide{    
    border: 1px solid #FF9200;
}

form input.multiply{    
    border: 1px solid #FF9200;
}

form input.decimal{    
    border: 1px solid #FF9200;
}